<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">

    <div class="uk-navbar-center-left">
      <div>
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="#">Início</a></li>
          <li>
            <a href="#">Atualidades</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <!-- <li class="uk-active"><a href="#">Active</a></li> -->
                <li><a href="#">Notícias</a></li>
                <li><a href="#">Publicações</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div> 
    <a class="uk-navbar-item uk-logo" href="#"><img id='logo' src="../../assets/img/"></a>
    <div class="uk-navbar-center-right">
      <div>
        <ul class="uk-navbar-nav">
          <li><a href="#">Ferramentas</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <!-- <li class="uk-active"><a href="#">Active</a></li> -->
                <li><a href="#">ProjeQtor</a></li>
                <li><a href="#">GitHub</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Sobre</a></li>
        </ul>

      </div>
    </div>

  </div>
</nav>